<h2>Phase 2 - Technische Spezifikation</h2>
<p>Die Technische Spezifikation wurde als Grundlage für die Entwicklung des Spiels „Nicht Lustig“ erstellt und soll die Lösungsansätze der Umsetzung aufzeigen.</p>
<p>
Sie Enthält folgende Angaben
<ul>
<li>Richtlinien</li>
<li>Eingesetzte Tools</li>
<li>Software Architektur</li>
<li>Klassenübersicht</li>
<li>GUI Beschrieb</li>
<li>Umsetzung der Kommunikation zwischen Server und Client</li>
<li>Datenstruktur</li>
</ul>
</p>

<p>Die Technische Spezifikation können Sie <a href="files/phase2.pdf">hier</a> als PDF runterladen.</p>