<h2>Phase 1 - Anforderungsspezifikation</h2>
<p>Im Rahmen des Moduls „IT-Projekt“ bei Bradley Richards und Lukas Frey wurde nachfolgende Anforde-rungsspezifikation als Grundlage für die Entwicklung des Spiels „Nicht Lustig“ erstellt. Die Dokumentation soll den Auftraggebern des IT-Projekts veranschaulichen, wie sich die Gruppe auf die Implementation vor-bereitet hat.</p>

<p>Die Anforderungsspezifikation können Sie zum gegebenen Zeitpunkt <a href="files/phase1.pdf">hier</a> als PDF runterladen.</p>