
 <h2>Nicht Lustig IT Projekt 2016</h2>

<p>Im Rahmen des Moduls „IT-Projekt“ bei Bradley Richards und Lukas Frey wurde das Spiel "Nicht Lustig" des Kosmos Verlages als Computerspiel umgesetzt.  Auf dieser Page möchten wir die verschiedenen Meilensteine der Entwicklung aufzeigen.</p>

<h2>Vorstellung des Spiels</h2>
<p><b> Offiziele Spielbeschreibungen</b></p>
<p>Der Tod ist rosa. Seine Vertretung ist ein Pudel. Die Yetis sind einsam. Die Lemminge sind selbstmordgefährdet. Die Professoren sind experimentierfreudig. Herr Riebmann ist in der Wand. Die Dinosaurier sind ausgestorben. 
</br>
Nur wer mit diesem Haufen an Nichtlustigen Charakteren zurechtkommt und ausserdem Roboter, Ufos und Killerviren übersteht, kann in diesem Spiel gewinnen. Alle anderen können schlechte Verlierer sein. Wenn sie wollen. </p>
<p>
Ein echt nichtlustiges Würfelspiel: Die Spieler müssen hier mit verrückten Lemmingen, einsamen Yetis und schon ausgestorbenen Dinosauriern zurechtkommen, sowie Ufos und Killerviren besiegen, um als Gewinner und nicht als schlechter Verlierer zu enden. Viele Extras machen es spannend, so bringen Yetis nur in Gesellschaft Punkte und die eigentlich punktreichen Lem-minge flüchten vor dem Tod und gehen dann verloren. Ziel ist es, durch passende Würfelkombinationen möglichst viele unterschiedliche Karten zu sammeln und die Aktionskarten und Turbulenzen zu überstehen.
</p>
<img src="images/spiel.jpg" alt="Team amused" width="100%">

<h2>Team</h2>

<p>Das Team amused besteht aus 4 hoch motivierten FHNW Studierenden deren Name hier nicht erwähnt werden muss.</p>
<img src="images/team.jpg" alt="Team amused" width="100%">