.root{
	-fx-font-size: 15pt;
	-fx-font-family: "Tempus Sans ITC";
	-fx-base: white;
	-fx-background: rgb(187, 14, 35);
}
.cardPane{
	-fx-font-size: 16pt;
	-fx-font-family: "Tempus Sans ITC";
	-fx-base: white;
	-fx-background: rgb(187, 14, 35);
}
.button:hover{
	-fx-background: lightyellow;
}

#labelCopyright{
	-fx-font-size: 11pt;
	}

#labelSpielfeld{
	-fx-font-size: 30pt;
	-fx-font-weight: bold;
}

#labelWelcome{
	-fx-font-size: 30pt;
	-fx-font-weight: bold;
}

#labelTitle{
	-fx-font-size: 30pt;
	-fx-font-weight: bold;
}

#labelRanking{
	-fx-font-size: 30pt;
	-fx-font-weight: bold;
}

#labelWait{
	-fx-font-size: 30pt;
	-fx-font-weight: bold;
}

#labelTschuess{
	-fx-font-size: 30pt;
	-fx-font-weight: bold;
}

#tableRanking{
	-fx-font-size: 16pt;
	-fx-base: red;
}

