.root{
	-fx-font-size: 15pt;
	-fx-font-family: "Tempus Sans ITC";
	-fx-base: white;
	-fx-background: rgb(187, 14, 35);
}

.rootPane {
  -fx-border-insets: 23;
  -fx-background-insets: 23;
  -fx-background-radius: 10;
  -fx-border-radius: 10;
  -fx-border-color: red;
  -fx-border-style: solid;
  -fx-border-width: 1;
  -fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);
}
.cardPane{
	-fx-font-size: 16pt;
	-fx-font-family: "Tempus Sans ITC";
	-fx-base: white;
	-fx-background: rgb(187, 14, 35);
}
.button:hover{
	-fx-background: lightyellow;
}

#labelCopyright{
	-fx-font-size: 11pt;
}

#labelConnect{
	-fx-font-size: 12pt;
}
	
#labelFailLogIn{
	-fx-font-size: 16pt;
	-fx-base: yellow;
	-fx-font-weight: bold;
}
	
#hboxConnect{
	-fx-font-size: 12pt;
}

#labelSpielfeld{
	-fx-font-size: 25pt;
	-fx-font-weight: bold;
}

#labelTitle{
	-fx-font-size: 30pt;
	-fx-font-weight: bold;
}

#subtitle{
	-fx-font-size: 17pt;
}

#labelUnderline{
	-fx-underline: true;
}

#tableRanking{
	-fx-font-size: 16pt;
	-fx-base: red;
}

#btnTransparent{
	-fx-background-color: transparent;
}

.gameBoardContent{
	-fx-font-size: 12pt;
}

#btnActivePlayer {
	-fx-font-size: 15pt;
	-fx-font-family: "Tempus Sans ITC";
	-fx-background-color: rgb(232, 174, 30);
}

#splash{
    -fx-background-image: url("/NichtLustig.png");
    -fx-background-color: transparent;
    -fx-background-repeat: stretch;   
    -fx-background-size: 300 300;
    -fx-background-position: center center;
}

.progress-bar > .bar {
	-fx-background-color: green;
}

#progressbox  {
	-fx-alignment: center;
}

.tblViewRightCol {
	-fx-alignment: CENTER-RIGHT;
}