.root{
	-fx-font-size: 16pt;
	-fx-font-family: "Tempus Sans ITC";
	-fx-base: white;
	-fx-background: rgb(187, 14, 35);
}
.button:hover{
	-fx-background: lightgrey;
}
.choicebox:hoover{
	-fx-background: lightgrey;
}
.textarea:hoover{
	-fx-background: lightgrey;
}
#labelServer{
	-fx-font-weight: bold;
	-fx-font-size: 20pt;
}